venv
### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.env

# Distribution / packaging
.Python


.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components


# Necesito ignorar los archivos de la carpeta Datos_Itsocks, dentro de backend/api/api_v1/routers
backend/app/api/api_v1/routers/Datos_Itsocks/

*.sublime*

psd
thumb
sketch

*.mp4