
.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.main_container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    width: 1388px;
    margin-top: 40px;
}
.main_container_wish {
    display: flex;
    grid-gap: 10px;
    width: 1388px;
    margin-top: 40px;
}

.lista_carrito {
    width: 100%;
    height: auto;
}

/* TABLE */

.lista_carrito table {
    border-collapse: collapse;
    width: 100%;
}

.lista_carrito table thead {
    background: #F2F2F2;
    height: 52px;   
}

.lista_carrito table tbody tr {
    border-bottom: 1px solid black;
}

.lista_carrito img {
    width: 156px;
    height: 157px;
    object-fit: cover;
    margin: 15px;
}

.td_producto {
    
    display: flex;
    align-items: center;
}

.quitar_producto {
    display: flex;
    width: 31px;
    height: 31px;
    background-color: #00A968;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}


/* PARTE DE ABAJO DEL COMPONENTE */

.seguir_comprando {
    display: flex;
    align-items: center;
    justify-content: start;
    height: auto;
    width: 205px;
    color: #0096E1;
    font-family: PT Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 50px;
    cursor: pointer;
}

.item {
    width: 100%;
}

.item p {
    margin-top: 40px;
    color: #424242;
    font-family: PT Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.comprar {
    display: flex;
    width: 121px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #C9C9C9;
    background: #FFF;

    /* Sombra lvl 1 */
    box-shadow: 0px 4px 4px -2px rgba(24, 39, 75, 0.08), 0px 2px 4px -2px rgba(24, 39, 75, 0.12);
    justify-content: center;

}

.conteo {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;
    width: 121px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #C9C9C9;
    background: #FFF;

    /* Sombra lvl 1 */
    box-shadow: 0px 4px 4px -2px rgba(24, 39, 75, 0.08), 0px 2px 4px -2px rgba(24, 39, 75, 0.12);
}

.conteo button {
    height: 100%;
    width: 30px;    
    background-color: white;
    font-size: 18px;
    font-weight: 700;
    margin: 0 5px;
    cursor: pointer;
    border-bottom: none;
    border-top: none;
    font-size: 24px;
}

.button_right {
    border-left: 1px solid #C9C9C9;
    border-right: none;
    border-radius: 0 15px 15px 0;
    /* box-shadow: 0px 4px 4px -2px rgba(24, 39, 75, 0.08), 0px 2px 4px -2px rgba(24, 39, 75, 0.12); */
}

.button_left {
    border-right: 1px solid #C9C9C9;
    border-left: none;
    border-radius: 15px 0 0 15px;
    /* box-shadow: 0px 4px 4px -2px rgba(24, 39, 75, 0.08), 0px 2px 4px -2px rgba(24, 39, 75, 0.12); */
}

.conteo span {
    font-size: 24px;
    font-weight: 700;
}

.centrar {
    display: flex;
    justify-content: center;
}

.tabla_productos {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table_header {
    background-color: #00B475; /* Fondo verde */
    color: #ffffff; /* Texto blanco */
    text-align: center; /* Centrar el texto */
    padding: 10px; /* Espaciado interno */
}

.header_left {
    border-radius: 14px 0 0 14px; /* Bordes redondeados */
    border-right: 2px solid white; /* Borde derecho blanco */
}

.header_center {
    border-right: 2px solid white; /* Borde derecho blanco */
}

.header_right {
    border-radius: 0 14px 14px 0; /* Bordes redondeados */
}


/* WISH LIST */

.wish_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 373px;
    margin-top: 56px;
}

.boton_comprar_lista{
    background: #00B475;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    width: 349px;
    height: 40px;
    align-self: center;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 16px;
}

.boton_compartir_lista {
    background: white;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    width: 349px;
    height: 40px;
    align-self: center;
    color: #232CC7;
    border: 1px solid #232CC7;
    cursor: pointer;
    border-radius: 16px;
}

.boton_compartir_lista:hover {
    border: solid 1px #232CC7;
}

.link_boton_carrito {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    text-decoration: none;
}
/* .pack_description {
    display: fle;
} */