
.main_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}

.main_section h1 {
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 0px; /* 0% */
    margin: 50px 0 50px 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 70%;
}

.container h3 {
    color: var(--Primario-azul, #232CC7);

    /* Subtitulo */
    font-family: Montserrat;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 35px;
}

.text_content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 10px 0 10px 0;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.text_content ul li{
    margin-bottom: 30px;
}

