
.main {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1280px;
}

.mas_vendidos {
    margin-top: 60px;
}

.mas_vendidos h2 {
    margin-bottom: 60px;
    font-size: 40px;
}

.estilos_vida {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
}

.estilos_vida h2{
    font-size: 40px;
}

.image_container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    gap: 10px
}

.image_container img {
    width: 415px;
    height: 415px;
    flex: 1;
    max-width: 415px;
    object-fit: cover;
}

.beneficios_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.beneficios_container h2 {
    font-size: 40px;
}

.beneficios_image_container {
    max-width: 1280px;
    width: 100%;
    margin-top: 30px;
}

.beneficios_image_container img {
    width: 100%;
    object-fit: cover;
}

.opiniones_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    margin-top: 60px;
    margin-bottom: 150px;
}

.opiniones_container h2 {
    font-size: 40px;
}

.opiniones_clientes {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
    margin-top: 50px;
}
