
.main {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.main h1 {
  font-family: Montserrat;
  font-weight: 600;
}

.container {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  max-width: 1280px;
  margin-top: 20px;
}

.categories_container {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 5px;
  margin-top: 20px;
  transition: background-color 0.3s;  
}


.imageContainer {
  position: relative;
  border-radius: 16px;
  z-index: 2;
}


.imageContainer a {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}

.blur_div {
  top: 0;
  left: 5px;
  position: absolute; 
  border-radius: 16px;
  border: 1px solid var(--Primario-azul, #232CC7);
  opacity: 0;
  background: rgba(35, 44, 199, 0.10);
  width: 455px;
  height: 600px;
}

.hoverText {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 10px;
  display: block;
  transition: opacity 0.3s ease;
  color: var(--Primario-azul, #232CC7);
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 91.667% */

}

.hovered {
  border: 1px solid var(--Primario-azul, #232CC7);
  background: rgba(35, 44, 199, 0.10);
  opacity: 1;
  z-index: 3;
}


@media (max-width: 512px) {
  .blur_div {
    width: 100px;
    height: 190px;
    border: 1px solid var(--Primario-azul, #232CC7);
    background: rgba(35, 44, 199, 0.10);
    opacity: 1;
  }

  .hoverText {
    font-size: 12px;
    padding: 2px;
    line-height: 10px;
  }

  .main h1 {
    font-size: 15px;
  }

  .container {
    height: 250px;
  }

  .imageContainer {
    width: 120px;
    height: 190px;
  }

  .imageContainer a img{
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .container {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .blur_div {
    height: 157px;
    width: 100px;
  }

  .hoverText {
    font-size: 8px;
    top: 12%;
    left: 50%;
  }

}