.container {
    position: absolute;
    right: 10px;
    top: 100px;
    width: 359px;
    height: 630px;
    background: #FFF;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
    z-index: 3;
    border-radius: 16px;
}

.title {
    position: relative;
    display: flex;
    width: auto;
    height: 54px;
    align-items: center;
    margin: 18px 24px;
    border-bottom: 1px solid #C9C9C9 ;
}

.title span {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
}

.title h1 {
    color: #2D2D2D;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.product_container {
    display: flex;
    margin: 24px 24px;
    
}

.product_image {
    width: 99px;
    height: 102px;
}

.product_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product_description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    margin-left: 12px;
}

.costo_envio {
    display: flex;
    width: auto;
    height: 34px;
    background: #F2F2F2;
    font-size: 14px;
    align-items: center;
    justify-content: center;
}

.costo_envio p {
    align-self: center;
    justify-self: center;
    margin: 0;
}


.costo_envio img {
    height: 26px;
    width: 26px;
    object-fit: cover;
    margin-right: 12px;
}

.subtotal {
    display: flex;
    justify-content: space-between;
    margin: 38px 24px;
    color: #000;

}

.subtotal h3{
    color: #000;

    /* Boton Corto */
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.subtotal p{
    color: #000;

    /* Boton Corto */
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.info {
    display: flex;
    width: auto;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    margin: 20px 21px 49px 24px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.boton_comprar {
    background: #00B475;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    width: 90%;
    height: 40px;
    align-self: center;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 16px;
}

.boton_ver_carrito {
    background: white;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    width: 90%;
    height: 40px;
    align-self: center;
    color: #232CC7;
    border: none;
    cursor: pointer;
    border-radius: 16px;
}

.boton_ver_carrito:hover {
    border: solid 1px #232CC7;
}

.link_boton_carrito {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    text-decoration: none;
}