

.main_billing_articles {
    display: flex;
    width: 500px;
    flex-direction: column;
    border: 0.4px solid #626262;
    background: #F7F7F7;
    flex-shrink: 0;
    padding: 30px;
}

.products {
    display: flex;
    flex-direction: column;

}

.product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.quantity {
    position: absolute;
    display: flex;
    right: 350px;
    height: 24px;
    width: 24px;
    font-size: 14px;
    border-radius: 50%;
    background-color: #818181;
    color: white;
    align-items: center;
    justify-content: center;
}

.product_description {
    display: flex;    
    
}

.product_description img {
    
    width: 110px;
    height: 110px;
}

.subtotal {
    display: flex;
    flex-direction: column;
    
}

.subtotal_up {
    display: flex;
    
    justify-content: space-between;
}


.subtotal_down {
    display: flex;
    height: 24px;
    align-items: center;
    justify-content: space-between;
}
.help_icon {
    display: flex;
    height: 24px;
    width: 24px;
    font-size: 14px;
    border-radius: 50%;
    background-color: #818181;
    color: white;
    align-items: center;
    justify-content: center;
}