.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.block_page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
    z-index: 2;
}

.description_container {
    display: flex;
    max-width: 1280px;
    gap: 40px;
    margin-bottom: 50px;
}

.image_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 650px;
    max-width: 507px;
    gap: 15px;
    
}

.principal_image {
    position: relative;
    display: inline-block;
    width: 450px;
    height: 450px;
}

.principal_image img {
    width: 450px;
    height: 450px;
    object-fit:scale-down;
}

.arrow_button {
    position: absolute;
    top: 40%;
    color: black;
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 50px;
    font-weight: lighter;
}

.arrow_button.left {
    left: 0;
}

.arrow_button.right {
    right: 0;
}

.similares {
    display: flex;
    height: 180px;
    max-width: 520px;
    gap: 10px;
}

.similares img {
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.description {
    display: flex;
    width: 800px;
    height: auto;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    height: 108px;

}

.title h2 {
    color: #000;
    /* Titulos (H1) */
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 0px; /* 0% */
    align-self: center;
    justify-self: center;
    
}


.precio {
    width: 100%;
    font-size: 30px;
    color: #00B475;
    margin-top: 10px;
    padding-left: 10px;
}

.precio p {
    margin: 0;
}

.description_p {
    padding: 13px 0;
    width: 744px;
    height: 148px;
    font-size: 25px;
    margin-top: 19px;
    line-height: 30px;
}

.colores {
    display: flex;
    align-items: center;
    margin-top: 60px;
    width: 100%;
    font-size: 24px;
}

.single_color {
    margin-left: 30px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #00B475;
}

.acciones {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 60px;
    margin-top: 24px;
}

.carrito {
    display: flex;
    align-items: center;
    font-size: 24px;
    gap: 15px;
    cursor: pointer;
}

.corazon {
    display: flex;
    align-items: center;
    font-size: 24px;
    gap: 15px;
    cursor: pointer;
}

.comprar {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.conteo {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;
    width: 121px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #C9C9C9;
    background: #FFF;

    /* Sombra lvl 1 */
    box-shadow: 0px 4px 4px -2px rgba(24, 39, 75, 0.08), 0px 2px 4px -2px rgba(24, 39, 75, 0.12);
}

.conteo button {
    height: 100%;
    width: 30px;    
    background-color: white;
    font-size: 18px;
    font-weight: 700;
    margin: 0 5px;
    cursor: pointer;
    border-bottom: none;
    border-top: none;
    font-size: 24px;
}

.button_right {
    border-left: 1px solid #C9C9C9;
    border-right: none;
    border-radius: 0 15px 15px 0;
    /* box-shadow: 0px 4px 4px -2px rgba(24, 39, 75, 0.08), 0px 2px 4px -2px rgba(24, 39, 75, 0.12); */
}

.button_left {
    border-right: 1px solid #C9C9C9;
    border-left: none;
    border-radius: 15px 0 0 15px;
    /* box-shadow: 0px 4px 4px -2px rgba(24, 39, 75, 0.08), 0px 2px 4px -2px rgba(24, 39, 75, 0.12); */
}

.conteo span {
    font-size: 24px;
    font-weight: 700;
}
.boton_comprar {
    background-color: #00B475;
    width: 80%;
    height: 40px;
    align-self: center;
    margin-left: 30px;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    color: #FFF;
    text-align: center;

    /* Boton Corto */
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.boton_comprar:hover {
    background: linear-gradient(to bottom right, #00B475, #232CC7); /* Degradado */

}

.informacion_adicional {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 15px;
    margin-top: 40px;
    font-size: 24px;
    align-items: center;
}

.informacion_adicional p{
    margin: 0;
}

.informacion_adicional span{
    color: #000;

    /* carrito de compra resaltado */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tiempo_estimado {
    display: flex;
    width: 100%;
    gap: 15px;
    margin-top: 40px;
    align-items: center;

    color: #000;

/* carrito de compra resaltado */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.tiempo_estimado p{
    margin: 0;
}

.productos_recomendados {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    font-size: 52px;
    font-weight: 700;
}

/* ESTILOS PACK */

.guia_tallas {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--Primario-azul, #232CC7);
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 112.5% */
    text-decoration-line: underline;
    margin: 24px 0;
    cursor: pointer;
}


.cantidad_packs {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: 25px 0;
    gap: 10px;
}

.regresar_catalogo {
    padding: 5px;
    width: 50%;
    height: 45px;
    margin-top: 15px;
    color: #232CC7;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-items: center;
    margin: 25px 0;
    cursor: pointer;
}

.agregar_carrito_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

/* TALLAS */

.tallas {
    display: flex;
    flex-direction: row;
    height: 47px;
    gap: 28px;
    width: 100%;
    margin: 35px 0 10px 0;
}

.tallas_label {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #000;
    text-align: center;

    /* Cuerpo de texto */
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 112.5% */
}

.numeros_tallas {
    display: flex;
    flex-direction: row;
    gap: 28px;
    align-items: center;
    justify-content: center;
}

.talla_button {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 70px;
    height: 100%;
    border-radius: 8px;
    border: 1px solid var(--gris-stroke, rgba(0, 0, 0, 0.10));

    /* Sombra lvl 1 */
    box-shadow: 0px 4px 4px -2px rgba(24, 39, 75, 0.08), 0px 2px 4px -2px rgba(24, 39, 75, 0.12);

    cursor: pointer;

    /* Cuerpo de texto */
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 112.5% */
}

.talla_selected {
    background: #00B475;
    color: white;
    border: solid 2px #232cc7;
}

.precio_sin_descuento {
    color: grey;
    text-decoration: line-through;
    font-size: 18px;
}

.porcentaje_descuento {
    color: rgb(236, 74, 74);
    font-size: 18px;
}

.colores {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.numeros_colores {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.color_circle {
    display: flex;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.color_selected {
    border: 2px solid #00B475;
}

.boton_comprar_disabled {
    background: #d1d1d1;
    width: 80%;
    height: 40px;
    align-self: center;
    margin-left: 30px;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: not-allowed;
    opacity: 0.5;
}

.title_recomendados {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;    
    margin: 180px 0 40px 0;
}

.title_recomendados h2 {
    /* Titulos (H1) */
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 0px; /* 0% */
}