

.main_billing_articles {
    display: flex;
    width: 568px;
    flex-direction: column;

    background: rgba(35, 44, 199, 0.10);
    flex-shrink: 0;
    padding: 30px;
}

.main_billing_articles h1 {
    margin-top: 135px;
    margin-bottom: 39px;
    font-size: 24px;
    font-weight: 600;
}

.products {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.product strong {
    font-size: 16px;
}

.product p{
    margin: 0;
}

.image_description {
    position: relative;
}

.quantity {
    position: absolute;
    display: flex;
    left: 100px;
    top: -12px;
    height: 24px;
    width: 24px;
    font-size: 14px;
    border-radius: 50%;
    background-color: #818181;
    color: white;
    align-items: center;
    justify-content: center;
}

.product_description {
    display: flex;
    gap: 15px;
    align-items: center;
}

.product_description p {
    width: 174px;
}

.product_description img {
    width: 120px;
    height: 122px;
    object-fit: contain;
}

.subtotal {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.subtotal p {
    margin: 0;
}

.subtotal strong {
    margin: 0;
    font-size: 16px;
}

.subtotal_up {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}

.subtotal_up span strong {
    font-size: 28px;
}


.subtotal_down {
    display: flex;
    height: 24px;
    align-items: center;
    justify-content: space-between;
}
.help_icon {
    display: flex;
    height: 24px;
    width: 24px;
    font-size: 14px;
    border-radius: 50%;
    background-color: #818181;
    color: white;
    align-items: center;
    justify-content: center;
}