.slick-slider {
    height: 520px;
}

.img_container {
    display: flex;  
    position: relative;
    margin-top: 10px;
    height: 600px;
}

.img_center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    min-height: 480px;
}

.img_center img {
    width: 100%;
    display: block;
    height: auto;
    position: static;
    object-fit: contain;
}

.product {
    position: relative;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 18px;
    /* margin: 0px 0px 0px 0px; */
    transition: height 0.3s ease, box-shadow 0.3s ease;
    width: 335px;
    height: 508px;
     /* Agregar transición para suavizar el cambio en el borde */
}

.container_price {
    position: absolute;
    bottom: -80px; /* Posición inicial para que esté por fuera del borde */
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    text-align: center;
    transition: bottom 0.3s ease;;
}

.product:hover {
    /* padding-bottom: 80px; */
    height: 600px;
    box-shadow: 0px 0px 20px 0px #cccccc;
     /* Cambiar el tamaño vertical al hacer hover */
}

.product:hover .container_price {
    bottom: 0px; /* Cambiar el fondo cuando se hace hover */
  }

.container_price:before {
    background-color: red;
}

.custom_prev_arrow {
    position:absolute;
    color: #000 !important;
    font-size: 30px;
    top: 50%;
    z-index: 2;
    cursor: pointer;
    margin-left: 20px;
}

.custom_next_arrow {
    position:absolute;
    color: #000 !important;
    font-size: 30px;
    top: 50%;
    z-index: 2;
    cursor: pointer;
    right: 0px;
    margin-right: 20px;
}

.description_image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

.price_image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #00a968;
}

/* SCROLL PERSONALIZADAS */

.main {
    display: flex;
    width: 100%;
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
}

.image_scroll {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    position: relative;
}

.arrow_buttons {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    opacity: 0;
    transition: opacity ease 250ms;
    border: none;
    cursor: pointer;
    z-index: 1;
  }
  
  .arrow_buttons:hover {
    opacity: 1;
  }
  
  .left_arrow {
    left: 40px;
  }
  
  .right_arrow {
    right: 90px;
  }
  
  .arrow_visible {
    opacity: .3;
  }

/* .arrow_container {
    position: absolute;

} */

/* RESPONSIVE */
@media (max-width: 1600px) {
    .product{
        width: 320px;
        height: 480px;
    }

    .product:hover {
        height: 500px;
    }

    .img_container {
        width: 320px;
        height: 500px;
    }
}

/* @media (max-width: 1360px) {
    .product{
        width: 300px;
        height: 470px;
    }

    .product:hover {
        height: 490px;
    }

    .img_container {
        width: 310px;
        height: 480px;
    }
} */

@media (max-width: 1380px) {
    .product{
        width: 270px;
        height: 400px;

        /* width: 335px;
        height: 508px; */
    }

    .product:hover {
        height: 500px;
    }
    
    .img_container {
        width: 270px;
        height: 400px;
    }

    .img_center img {
        width: 90%;
        height: 80%;
        position: relative;
        align-self: center;
        object-fit: contain;
    }
}

@media (max-width: 1150px) {
    .product{
        width: 230px;
        height: 350px;

        /* width: 335px;
        height: 508px; */
    }

    .img_container {
        width: 230px;
        height: 500px;
    
    }

    .product:hover {
        height: 450px;
    }

    .img_center {
        margin: 10px;
        min-height: 380px;
    }

    .container_price {
        position: absolute;
        bottom: -95px; /* Posición inicial para que esté por fuera del borde */
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0);
        padding: 5px;
        text-align: center;
        transition: bottom 0.3s ease;;
    }

    .description_image {
        font-size: 18px;
    }

}

@media (max-width: 935px) {
    .product{
        width: 200px;
        height: 300px;
    }

    .img_container {
        width: 200px;
        height: 390px;
    }

    .product:hover {
        height: 390px;
    }

    .img_center {
        margin: 10px;
        min-height: 280px;
    }

    .container_price {
        position: absolute;
        bottom: -80px; /* Posición inicial para que esté por fuera del borde */
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0);
        padding: 5px;
        text-align: center;
        transition: bottom 0.3s ease;;
    }

    .description_image {
        font-size: 16px;
    }

}

@media (max-width: 820px) {
    .product{
        width: 180px;
        height: 280px;

        /* width: 335px;
        height: 508px; */
    }

    .img_container {
        width: 180px;
        height: 350px;
    
    }

    .product:hover {
        height: 350px;
    }

    .img_center {
        margin: 10px;
        min-height: 260px;
    }

    .container_price {
        position: absolute;
        bottom: -70px; /* Posición inicial para que esté por fuera del borde */
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0);
        padding: 5px;
        text-align: center;
        transition: bottom 0.3s ease;;
    }

    .description_image {
        font-size: 14px;
    }
}

@media (max-width: 720px) {
    .product{
        width: 160px;
        height: 250px;

        /* width: 335px;
        height: 508px; */
    }

    .img_container {
        width: 160px;
        height: 320px;
    
    }

    .product:hover {
        height: 320px;
    }

    .img_center {
        margin: 10px;
        min-height: 240px;
    }

    .container_price {
        bottom: -60px; /* Posición inicial para que esté por fuera del borde */
    }

    .description_image {
        font-size: 12px;
    }

}

@media (max-width: 650px) {
    .product{
        width: 140px;
        height: 240px;

        /* width: 335px;
        height: 508px; */
    }

    .img_container {
        width: 140px;
        height: 320px;
    }

    .product:hover {
        height: 300px;
    }

    .img_center {
        margin: 10px;
        min-height: 200px;
    }

    .container_price {
        bottom: -80px; /* Posición inicial para que esté por fuera del borde */
        font-size: 15px;
    }

    .description_image {
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    .product{
        width: 120px;
        height: 200px;
    }

    .img_container {
        width: 120px;
        height: 250px;
    }

    .product:hover {
        height: 250px;
    }

    .img_center {
        margin: 5px;
        min-height: 200px;
    }

    .container_price {
        bottom: -60px; /* Posición inicial para que esté por fuera del borde */
        font-size: 10px;
    }

    .description_image {
        font-size: 10px;
    }

    img {
        width: 100px;
        height: auto;
    }
}

@media (max-width: 450px) {
    .product{
        width: 100px;
        height: 150px;
    }

    .img_container {
        width: 100px;
        height: 200px;
    }

    .product:hover {
        height: 200px;
    }

    .img_center {
        margin: 5px;
        min-height: 150px;
    }

    .container_price {
        bottom: -50px; /* Posición inicial para que esté por fuera del borde */
        font-size: 8px;
    }

    .description_image {
        font-size: 8px;
    }
}