

.image_scroll {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 15px;
}

.image_scroll img{
    width: 350px;
    height: 450px;
    object-fit: cover;
}

