.beneficios_image_container video {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.container_beneficios {
    background-color: white;
    border-radius: 17px;
    margin: 50px 20px 50px 20px;
    padding: 25px;
}

.container_beneficios h5 {
    color: #232cc7;
    font-weight: 600;
}

.icon_container {
    border-radius: 50%;
    background-color: white;
    padding: 18px;
    box-shadow: 0px 4px 4px 0px #e2e2e2;
    border-color: #e2e2e2;
    border-width: 0.1px;
    border-style: solid;
}